<div class="home_page">
  <script src="jquery.js"></script>
  <script src="typed.js"></script>
  <script>
      $(function(){
          $(".element").typed({
              strings: ["First sentence.", "Second sentence."],
              typeSpeed: 0
          });
      });
  </script>

  <span class="element"></span>
  <h1>Welcome to the contacts application</h1>
  <p>This application allows you to manage(create, edit, and delete) contacts</p>
</div>