/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.btn-search {
  margin-top: 5px;
}

 .navbar {
  font-size: 1.5em;
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-bottom-color: black;
  opacity: 0.8;
 }
 .navbar:hover {
  opacity: 1.0;
 }

 h1{
  clear: left;
 }

body {
  padding-top: 70px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 10px;
  background-image: url('sayagata.png');
  font-family: 'Lobster Two', cursive;
font-family: 'Kreon', serif;
}

.home_page {
  text-align: center;
  margin-top: 100px;
}

.btn, .btn-default {
  margin-top: 10px;
}

.brand{
  font-family: 'Rancho', cursive;
  margin-right: 20px;
 }

